.hero-img{
    margin-top: 20px;
    /* height: 100vh; */
}

.coursessection {
    margin-top: 125px;
}

@media screen and (max-width: 640px) {
    .coursessection {
        margin-top: 125px;
    }

   /* .hero-container{

     height: 100vh;
    } */
    .hero-container{
        height: 100vh;
    }
    .hero-col-1{
     margin-right: 200px;
     margin-left: 50px;
    }

   
    .hero-img{
        /* margin-top: 20px; */
        padding-top: 20px;
        width: 70%;
        /* height: 150px; */
        margin-right: 20px;
        margin-left: 40px;
    }

    .aboutimg{
        
        width: auto;
        height:200px;
    }

    .about-content{
        
        margin-left: 20px;
        margin-right: 20px;
    }

    .work-content{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -100px;
    }

    .workimg{
        width: auto;
        height:200px;
        margin-top: -400px;
    }
    .who-content{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px; 
    }
    /* .home-video{
        padding-top: 800px;
    } */
    .home-card{
        justify-content: center;
        align-items: center;
        padding-left: 50px;
    }
}